nav.navbar.navbar-inverse(role='navigation' style='padding-left:130px;')
      ul.nav.navbar-nav
        li.active
          a(href='/')
            | Home
            span.sr-only (current)
        li
          a(href='/projects') Projects
        li
          a(href='/services') Services
        li
          a(href='/about') About us
        li
          a(href='/Contact') Contact us