extends layout

block content

  h1= title
  .container
    p <b>BY Georgian collge e-mail:</b> 200369535@student.georgianc.on.ca
    p <b>By Personal e-mail:</b>  anishgandhi25@gmail.com
    p <b>By Call:</b>  +1 (705)-790-8259
    p <b>Address:</b> 81 Daphne cresent L4M2Y7 Barrie ON,CA


