extends layout

block content
    section#services.page-section
    .container
        h2.text-center.mt-0 Projects Worked On
        hr.divider.my-4
        .row
        .col-lg-3.col-md-6.text-center
            .mt-5
            i.fas.fa-4x.fa-gem.text-primary.mb-4
            h3.h4.mb-2 E-Warehouse Managment System with fingerprint and Barcode Identfictaion
            p.text-muted.mb-0 System was a kind of keeping records of all the good entering and leaving the facility electornically.
        .col-lg-3.col-md-6.text-center
            .mt-5
            i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
            h3.h4.mb-2 Automated Home System
            p.text-muted.mb-0 System allowed us to control all the electricl and electronic appliance to access them remoltu with internet from anywhere.
        .col-lg-3.col-md-6.text-center
            .mt-5
            i.fas.fa-4x.fa-globe.text-primary.mb-4
            h3.h4.mb-2 Online Digital Store
            p.text-muted.mb-0 Buy and sell digitals products online with ease.
        .col-lg-3.col-md-6.text-center
            .mt-5
            i.fas.fa-4x.fa-heart.text-primary.mb-4
            h3.h4.mb-2 Music Store
            p.text-muted.mb-0 Allows to access all the music records digitally and purchase or rent them as needed.
