extends layout

block content

  .jumbotron
    p
      | Myself Anish Gandhi currently i am enrolled in Computer programmer course and this is my last semester. I have been working on plenty of languages as i have been in this field for more than 6 years as i have completed my diploma in computer engineering and my bachelors in computer science engineering.
