extends layout

block content
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        h2.text-white.mt-0 About Myself
        hr.divider.light.my-4
        p.text-white-50.mb-4
          | Myself Anish Gandhi currently i am enrolled in Computer programmer course and this is my last semester. I have been working on plenty of languages as i have been in this field for more than 6 years as i have completed my diploma in computer engineering and my bachelors in computer science engineering.
        a.btn.btn-light.btn-xl.js-scroll-trigger(href='/services') Get Started!
