extends layout

block content
    section#services.page-section
    .container
        h2.text-center.mt-0  Service
        hr.divider.my-4
        .row
        .col-lg-3.col-md-6.text-center
            .mt-5
            i.fas.fa-4x.fa-gem.text-primary.mb-4
            h3.h4.mb-2 Web development
            p.text-muted.mb-0 Develop web Application on node,express and mongoDb
        .col-lg-3.col-md-6.text-center
            .mt-5
            i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
            h3.h4.mb-2 Back-end Coding
            p.text-muted.mb-0 server Side coding and backend logic programing
        .col-lg-3.col-md-6.text-center
            .mt-5
            i.fas.fa-4x.fa-globe.text-primary.mb-4
            h3.h4.mb-2 Android Developer
            p.text-muted.mb-0 Develop android applications using Android studio
        .col-lg-3.col-md-6.text-center
            .mt-5
            i.fas.fa-4x.fa-heart.text-primary.mb-4
            h3.h4.mb-2 IOS Developer
            p.text-muted.mb-0 Develop IOS Application using swift and xcode
